{% load static %}
<div class="card-header card-header-border" style="background-color:#ae09bd; color:#FFFFFF; margin-top:10px;">
    <strong>Latest Matches For You</strong>
</div>
<div class="card-body card-body-border" style="font-size:10px;">
	<div class="row" style="padding:10px;">
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 col-sm-6 col-xs-12" style="padding:5px 10px 0px 10px;">
			<div class="card card-body-border">
				<img class="img" src="{% static 'images/user.png' %}" height="175px">
				<div style="padding:4px;">
					<label style="font-size:13px; display:block; margin-bottom:20px;">
						<span style="float:left; display:inline-block;">Priyanka S</span>
						<span style="float:right; display:inline-block;"> (23 yrs)</span>								
					</label>
					<label style="font-size:13px; display:block; line-height:30px; margin-bottom: 0px;">
						Kolkata
					</label>
				</div>
				<div style="padding:4px;" class="col-md-12 text-center">							
					<button type="button" class="btn bg-dark-green btn-sm" style="width: 80px" onclick="open_connect_modal(3)">
						<i class="mdi mdi-comment"></i> Connect
					</button>
					<button type="button" class="btn bg-dark-red btn-sm" style="width: 80px">
						<i class="mdi mdi-heart"></i> Like
					</button>
				</div>
			</div>
		</div>
		
	</div>
</div>