<div class="modal" tabindex="-1" role="dialog" id="packagesModal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upgrade Package</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="font-size:80%">
            <div class="row">
              {% for package in packages_list %}
                <div class="col-md-4 col-sm-12">
                  <div class="card" style="color:#FFF; background-color:#1f5f77;">
                    <div class="card-header">
                      <i class="mdi mdi-trophy mdi-24px" style="color:#ffd402"></i>
                      <span style="margin-top: 8px; position: absolute; line-height: 20px; display: inline; font-size: 17px; margin-left: 10px;">{{package.package_name}}</span>
                      <i class="mdi mdi-cart mdi-24px" style="color: #ffd402; float: right; background-color: #09353c; padding: 0px 6px; border-radius: 100%; margin-top: -1px; cursor: pointer;"></i>
                    </div>
                    <div class="card-body" style="color:#FFF; background-color:#1f5f77; height:300px; overflow:auto; padding:10px 22px;">
                      {{package.description}}
                    </div>
                    <div class="card-footer" style="color:#FFF; background-color:#1f5f77; overflow:auto; padding:10px 22px; font-size: 17px;">
                      <span>{{package.tenure}} {{package.get_tenure_types_display}}</span>
                      <span style="float:right;"><i class="mdi mdi-currency-inr">{{package.value}} only</i></span>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>
