{% load static %}

<!-- Filters -->

<div class="card-header card-header-border" style="margin-top:10px;">
    <strong style="margin-left:-10px;">Filters</strong>
    
	
	<button class="btn btn-sm btn-warning" style="float:right; margin-right: -10px; margin-top:-3px">
		<i class="mdi mdi-eye"></i> View Saved
	</button>
	
</div>

<div class="card-body card-body-border" style="font-size:10px;">
    <form method="post" action="{% url 'user_search_results' %}" id="search_filters_form">
		<div class="row" style="padding:10px">
		
			{% csrf_token %}
			<div class="col-12">
				<label>UID</label>
				<input type="text" class="form-control input-sm">
			</div>
			
			<div class="col-12" style="margin-top:10px;">
				<label>Religion</label>
				{{search_profile.l_religions}}
			</div>
			
			<div class="col-12 caste-div-spinner hide text-center" style="margin-top:10px;">
				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
			</div>
			
			<div class="col-12 caste-div hide" style="margin-top:10px;">
				<label>Caste/Denomination/Ethinicity</label>
				<select name="l_caste" class="form-control selectpicker castes_select" multiple></select>
			</div>
			
			<div class="col-12" style="margin-top:10px;">
				<label>Country</label>
				{{search_profile.l_countries}}
			</div>
			
			<div class="col-12 state-div-spinner hide text-center" style="margin-top:10px;">
				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
			</div>
			
			<div class="col-12 state-div hide" style="margin-top:10px;">
				<label>State</label>
				<select name="l_states" class="form-control selectpicker states_select" multiple></select>
			</div>

			<div class="col-12 city-div-spinner hide text-center" style="margin-top:10px;">
				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
			</div>

			<div class="col-12 city-div hide" style="margin-top:10px;">
				<label>City</label>
				<select class="form-control selectpicker city_select" name="l_cities" multiple></select>
			</div>
			
			<div class="col-12" style="margin-top:10px;">
				<label>Select Age</label>
				{{search_profile.aged_from}}
				{{search_profile.aged_to}}
			</div>
			
			<div class="col-12" style="margin-top:35px;">
				<div id="age_slider" style="width:94%"></div>
			</div>
			
			<div class="col-12" style="margin-top:20px;">
				<label>Complexion</label>
				<select></select>
			</div>
			
			<div class="col-12" style="margin-top:10px;">
				<label>Job</label>
				<select></select>
			</div>
			
			<div class="col-12" style="margin-top:10px;">
				<label>Qualification</label>
				<select></select>
			</div>
			
			<div class="col-12 text-center" style="margin-top:10px;">
				<button type="submit" class="btn btn-sm btn-warning">
					<i class="mdi mdi-search"></i> Search
				</button>
				<button style="margin-left:5px;" class="btn btn-sm btn-primary" type="button" 
					 data-target="#save_partner_preferences_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
					<i class="mdi mdi-content-save"></i> Save
				</button>  
				
			</div>
		</div>
	</form>
</div>


{% include 'app/modal_forms/save_partner_search.html' %}

<script>

var csrf = '{{csrf_token}}';

</script>