<!-- Filters -->

<div class="card-header card-header-border" style="margin-top:10px;">
    <strong style="margin-left:-10px;">Filters</strong>
    <button class="btn btn-sm btn-primary" style="float:right; margin-right: -10px; margin-top:-3px">
        <i class="mdi mdi-content-save"></i> Save
    </button>
    
    <button class="btn btn-sm btn-warning" style="float:right; margin-right: 10px; margin-top:-3px">
        <i class="mdi mdi-eye"></i> View Saved
    </button>
</div>

<div class="card-body card-body-border" style="font-size:10px;">
    <div class="row" style="padding:10px">

		<div class="col-12">
			<label>UID</label>
			<input type="text" class="form-control input-sm">
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Religion</label>
			{{search_profile.religion}}
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Caste/Denomination/Ethinicity</label>
			{{search_profile.caste_creed}}
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Country</label>
			{{search_profile.country}}
		</div>
		
		<div class="col-12 state-div hide" style="margin-top:10px;">
			<label>State</label>
			{{search_profile.state}}
		</div>

		<div class="col-12 city-div hide" style="margin-top:10px;">
			<label>City</label>
			{{search_profile.city}}
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Select Age</label>
			{{search_profile.aged_from}}
			{{search_profile.aged_to}}
		</div>
		
		<div class="col-12" style="margin-top:35px;">
			<div id="age_slider" style="width:94%"></div>
		</div>
		
		<div class="col-12" style="margin-top:20px;">
			<label>Complexion</label>
			{{search_profile.complexion}}
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Job</label>
			{{search_profile.job_details}}
		</div>
		
		<div class="col-12" style="margin-top:10px;">
			<label>Qualification</label>
			{{search_profile.qualification}}
		</div>
		
		<div class="col-12 text-center" style="margin-top:10px;">
			<button class="btn btn-sm btn-warning">
				<i class="mdi mdi-search"></i> Search
			</button>
		</div>
        
    </div>
</div>

<script>

var csrf = '{{csrf_token}}';

</script>