{% load static %}

<!-- Image Upoader Modal -->

<div class="modal" tabindex="-1" role="dialog" id="file_uploading_loader_modal" data-backdrop="static" style="background-color:#FFF;">
    <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Uploading Profile Picture</h5>
			</div>
            <div class="modal-body">
				<img class="img" style="width: auto;  height: 200px;" src="{% static 'images/uploader_gifs/file_uploading.gif' %} ">
			</div>
		</div>
	</div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="data_process_modal" data-backdrop="static" style="background-color:#FFF;">
    <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title" style="color:#FFFFFF;">Processing...</h5>
			</div>
            <div class="modal-body text-center">
				<img class="img" style="width: auto;  height: 200px;" src="{% static 'images/uploader_gifs/gears.gif' %} ">
			</div>
		</div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="error_modal" data-backdrop="static" style="background-color:#FFF;">
    <div class="modal-dialog  modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
			<div class="modal-header bg-success">
				<h5 class="modal-title" style="color:#FFFFFF;">Processing...</h5>
			</div>
            <div class="modal-body text-center">
			</div>
		</div>
	</div>
</div>