<div class="row">
  <div class="col">
    <div class="card-header card-header-blue card-header-border">
      <strong>Inbox</strong>
      <button data-toggle="modal" data-target="#compose-modal" style="float:right; margin-right:-16px; margin-top:-7px;" class="btn btn-info">
        <i class="mdi mdi-plus"></i> Compose
      </button>
    </div>
  </div>
</div>


<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
						<div class="padding"></div>

						<div class="table-responsive">
							<table class="table">
                <thead>
                  <th>
                    <input type="checkbox" id="select_all">
                  </th>
                  <th>From</th>
                  <th>Subject</th>
                  <th>Date</th>
                </thead>
								<tbody>
                  {% for msg in mails_list %}
                  <tr>
  									<td class="action" style="text-align:center;"><input type="checkbox" class="checkbox"/></td>
  									<td class="name"><a href="#">
                      <a href="{% url 'inbox_email_view' msg.msg_id %}">
                        {{ msg.from }}
                      </a>
                    </td>
  									<td class="subject">
                      <a href="#" data-toggle="modal" data-target="#show_msg_modal">{{ msg.subject }}</a>
                    </td>
  									<td class="time">{{ msg.mail_date }}</td>
  								</tr>
  								{% endfor %}
							  </tbody>
              </table>
						</div>
					</div>
					<!-- END INBOX CONTENT -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>

<!-- BEGIN COMPOSE MESSAGE -->
<div class="modal" tabindex="-1" role="dialog" id="compose-modal" style="background-color:#464e4ec2;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">New Message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
        <form action="#" method="post">
          <div class="modal-body">
            <div class="form-group">
              <input name="to" type="email" class="form-control" placeholder="To">
            </div>
            <div class="form-group">
              <input name="cc" type="email" class="form-control" placeholder="Cc">
            </div>
            <div class="form-group">
              <input name="bcc" type="email" class="form-control" placeholder="Bcc">
            </div>
            <div class="form-group">
              <input name="subject" type="email" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea name="message" id="email_message" class="form-control" placeholder="Message" style="height: 120px;"></textarea>
            </div>
            <div class="form-group">
              <input type="file" name="attachment">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- END COMPOSE MESSAGE -->

<!-- BEGIN COMPOSE MESSAGE -->
<div class="modal" tabindex="-1" role="dialog" id="show_msg_modal" style="background-color:#464e4ec2;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send Message</button>
      </div>
    </div>
  </div>
</div>
