<div class="row">

	<div class="col-md-12">
		<div class="card-header">
			<strong>Members Information</strong>
		</div>
		<div class="row">
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-primary text-center">
						<span class="mdi mdi-account icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>
					<div class="col-8 bg-primary-light">
						<span class="icons-title">
							Registered
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">		
					<div class="col-4 bg-warning text-center">
						<span class="mdi mdi-account-star icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>	
					<div class="col-8 bg-warning-light">						
						<span class="icons-title">
							Premium
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">		
					<div class="col-4 bg-success text-center">
						<span class="mdi mdi-account-network icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>	
					<div class="col-8 bg-success-light">						
						<span class="icons-title">
							Active
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">		
					<div class="col-4 bg-danger text-center">
						<span class="mdi mdi-account-off icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>	
					<div class="col-8 bg-danger-light">						
						<span class="icons-title">
							In-Active
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>
		
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-pink text-center">
						<span class="mdi mdi-gender-female icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>
					<div class="col-8 bg-pink-light">
						<span class="icons-title">
							Female
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>
				
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-male text-center">
						<span class="mdi mdi-gender-male icons" style="font-size:30px;color: #FFFFFF; position: relative; top: 5px;"></span>
					</div>
					<div class="col-8 bg-male-light">
						<span class="icons-title">
							Male
						</span>
						<span class="icons-counter">
							45
						</span>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
	
	<!-- EARNINGS SECTION -->
	
	<div class="col-md-12">
		<div class="card-header">
			<strong>Earnings</strong>
		</div>
		<div class="row">
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-earnings-icon text-center">
						<span class="mdi mdi-bank earnings-icons"></span>
					</div>
					<div class="col-8 bg-earnings">
						<span class="earnings-icons-title">
							Total Amount
						</span>
						<span class="earnings-icons-counter">
							Rs. 45900050
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-earnings-icon text-center">
						<span class="mdi mdi-treasure-chest earnings-icons"></span>
					</div>
					<div class="col-8 bg-earnings">
						<span class="earnings-icons-title">
							Today
						</span>
						<span class="earnings-icons-counter">
							Rs. 4590
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-earnings-icon text-center">
						<span class="mdi mdi-cash earnings-icons"></span>
					</div>
					<div class="col-8 bg-earnings">
						<span class="earnings-icons-title">
							This Month
						</span>
						<span class="earnings-icons-counter">
							Rs. 9000
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-earnings-icon text-center">
						<span class="mdi mdi-cash earnings-icons"></span>
					</div>
					<div class="col-8 bg-earnings">
						<span class="earnings-icons-title">
							Last 3 Months
						</span>
						<span class="earnings-icons-counter">
							Rs. 459000
						</span>
					</div>
				</div>
			</div>
			
			<div class="col">
				<div class="row" style="padding:10px;">						
					<div class="col-4 bg-earnings-icon text-center">
						<span class="mdi mdi-cash earnings-icons"></span>
					</div>
					<div class="col-8 bg-earnings">
						<span class="earnings-icons-title">
							This Year
						</span>
						<span class="earnings-icons-counter">
							Rs. 45900050
						</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<!-- PLANS SECTION -->
	
	<div class="col-md-12">
		<div class="card-header">
			<strong>Packages Information</strong>
		</div>
		<div class="row" style="padding:10px;">
			<div class="col-3 sidetab-col-left">
				<ul class="sidetabs">
					{% for package in packages %}
						<li id="id_package_counter_{{package.id}}" onclick="package_counters($(this))">{{ package.package_name|title }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-9 sidetab-col-right">
				<div class="container" style="padding:10px;">				
				
					<!-- Tabs -->
					{% for package in packages %}
						<div class="row package_counters" id="id_package_{{package.id}}">					
							<div class="col-8">
								<div class="row" style="margin-bottom:10px;">
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-pink text-center">
													<span class="mdi mdi-gender-female earnings-icons"></span>
												</div>
												<div class="col-8 bg-pink-light">
													<span class="earnings-icons-title">
														Total Registered
													</span>
													<span class="earnings-icons-counter">
														234
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-male text-center">
													<span class="mdi mdi-gender-male earnings-icons"></span>
												</div>
												<div class="col-8 bg-male-light">
													<span class="earnings-icons-title">
														Total Registered
													</span>
													<span class="earnings-icons-counter">
														346
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row" style="margin-bottom:10px;">
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-pink text-center">
													<span class="mdi mdi-gender-female earnings-icons"></span>
												</div>
												<div class="col-8 bg-pink-light">
													<span class="earnings-icons-title">
														Registered This Year
													</span>
													<span class="earnings-icons-counter">
														23
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-male text-center">
													<span class="mdi mdi-gender-male earnings-icons"></span>
												</div>
												<div class="col-8 bg-male-light">
													<span class="earnings-icons-title">
														Registered This Year
													</span>
													<span class="earnings-icons-counter">
														34
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="margin-bottom:10px;">
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-pink text-center">
													<span class="mdi mdi-gender-female earnings-icons"></span>
												</div>
												<div class="col-8 bg-pink-light">
													<span class="earnings-icons-title">
														Recently Expiring
													</span>
													<span class="earnings-icons-counter">
														23
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-male text-center">
													<span class="mdi mdi-gender-male earnings-icons"></span>
												</div>
												<div class="col-8 bg-male-light">
													<span class="earnings-icons-title">
														Recently Expiring
													</span>
													<span class="earnings-icons-counter">
														34
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-pink text-center">
													<span class="mdi mdi-gender-female earnings-icons"></span>
												</div>
												<div class="col-8 bg-pink-light">
													<span class="earnings-icons-title">
														Expiring This Year
													</span>
													<span class="earnings-icons-counter">
														23
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col">
										<div class="col-md-12 text-center">							
											<div class="row">
												<div class="col-4 bg-male text-center">
													<span class="mdi mdi-gender-male earnings-icons"></span>
												</div>
												<div class="col-8 bg-male-light">
													<span class="earnings-icons-title">
														Expiring This Year
													</span>
													<span class="earnings-icons-counter">
														34
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="col-4">
								<div class="col-md-12 bg-grey text-center">
									<span style="padding:10px; display:block;">
										<strong>PACKAGE DETAILS</strong>
									</span>
									<p style="margin-bottom:0px;">	
										{{package.description|safe}}
									</p>
								</div>
							</div>
							
						</div>
					{% endfor %}
					<!-- Tab1 -->
					
				</div>
			</div>			
		</div>
	</div>

</div>