<div class="container" style="padding:10px;">
    <div class="row">					
        <div class="col-8">
            <div class="row" style="margin-bottom:10px;">
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-pink text-center">
                                <span class="mdi mdi-gender-female earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-pink-light">
                                <span class="earnings-icons-title">
                                    Total Registered
                                </span>
                                <span class="earnings-icons-counter">
                                    234
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-male text-center">
                                <span class="mdi mdi-gender-male earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-male-light">
                                <span class="earnings-icons-title">
                                    Total Registered
                                </span>
                                <span class="earnings-icons-counter">
                                    346
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-bottom:10px;">
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-pink text-center">
                                <span class="mdi mdi-gender-female earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-pink-light">
                                <span class="earnings-icons-title">
                                    Registered This Year
                                </span>
                                <span class="earnings-icons-counter">
                                    23
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-male text-center">
                                <span class="mdi mdi-gender-male earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-male-light">
                                <span class="earnings-icons-title">
                                    Registered This Year
                                </span>
                                <span class="earnings-icons-counter">
                                    34
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-pink text-center">
                                <span class="mdi mdi-gender-female earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-pink-light">
                                <span class="earnings-icons-title">
                                    Recently Expiring
                                </span>
                                <span class="earnings-icons-counter">
                                    23
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-male text-center">
                                <span class="mdi mdi-gender-male earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-male-light">
                                <span class="earnings-icons-title">
                                    Recently Expiring
                                </span>
                                <span class="earnings-icons-counter">
                                    34
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-pink text-center">
                                <span class="mdi mdi-gender-female earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-pink-light">
                                <span class="earnings-icons-title">
                                    Expiring This Year
                                </span>
                                <span class="earnings-icons-counter">
                                    23
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-md-12 text-center">							
                        <div class="row">
                            <div class="col-4 bg-male text-center">
                                <span class="mdi mdi-gender-male earnings-icons"></span>
                            </div>
                            <div class="col-8 bg-male-light">
                                <span class="earnings-icons-title">
                                    Expiring This Year
                                </span>
                                <span class="earnings-icons-counter">
                                    34
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-4">
            <div class="col-md-12 bg-grey text-center">
                <span style="padding:10px; display:block;">
                    <strong>PACKAGE DETAILS</strong>
                </span>
                <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. 
                    Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. 
                    Donec suscipit eros. Nam mi. 
                    Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.								
                </p>
                <p style="margin-bottom:0px;">
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. 
                    Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. 
                    Donec suscipit eros. Nam mi. 
                    Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.								
                </p>
            </div>
        </div>
    </div>
</div>