{% load static %}
<div class="row">

	<div class="col">
		<div class="card-header card-header-blue card-header-border">
			<strong>Users Information</strong>
			<button class="btn btn-info" style="float:right; margin-top:-7px;" onclick="delete_selected()">Delete</button>
		</div>
		<div class="card-body" style="padding-top:10px; background:none;">
			<table class="table table-bordered" style="margin:0px; padding:0px;">
				<tr class="text-center"  style="font-weight:bold; background-color:#ae62e8; color:#FFFFFF;">
					<td width="30px">
						<input type="checkbox" id="select_all">
					</td>
					<td>Username</td>
					<td>Fullname</td>
					<td>Is Active</td>
					<td>Package</td>
					<td>Gender</td>
					<td>Looking For</td>
					<td>Phone/Mobile</td>
					<td>Alt. Phone/Mobile</td>
					<td>Assigned To</td>
					<td>Action</td>
				<tr>
				{% for row in users %}
					<tr style="font-size:12px;  background-color:#FFF">
						<td width="30px">
							<input type="checkbox" class="checkbox" name="case[]" value="{{row.user.id}}">
						</td>
						<td style="padding:5px; line-height: 22px;">{{ row.user.email }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.fullname|default_if_none:'' }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.user.is_active }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.package.package_name|default_if_none:'' }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.get_gender_display }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.get_looking_for_gender_display }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.phone_number|default_if_none:'' }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.phone_number_alternative|default_if_none:'' }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.assigned_to|default_if_none:'' }}</td>
						<td style="padding:5px; text-align:center;">
							<a href="{% url 'user_profile_view' row.user.id %}" target="_blank">
								<i class="mdi mdi-eye"  style="margin-right:15px; cursor:pointer; color:#000000; font-size:15px;"></i>
							</a>
							<i class="mdi mdi-pencil" style="margin-right:15px; cursor:pointer; font-size:12px;"
								onclick="user_edit_modal_form({{row.user.id}})">
							</i>
							<i class="mdi mdi-delete" onclick="delete_user({{row.user.id}})" style="cursor:pointer; color:#FF0000; font-size:15px;"></i>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
    </div>
</div>


{% include 'app/base/uploader_gif_modals.html' %}
{% include 'app/modal_forms/user_edit_modal.html' %}

<script>

var csrfmiddlewaretoken = '{{ csrf_token }}';

function user_edit_modal_form(id){

	$("#user_id").val(id);

	$("#user_edit_modal_form").modal('show');

	$.post("{% url 'fetch_user_details' %}", {"user_id":id, "csrfmiddlewaretoken":csrfmiddlewaretoken}, function(data){

		data = $.parseJSON(data);

		$("#id_phone_number").val(data.phone_number);
		$("#id_fullname").val(data.fullname);
		$("#id_phone_number_alternative").val(data.phone_number_alternative);
		$("#id_package").val(data.package);
		$("#id_assigned_to").val(data.assigned_to);

		console.log(data);
	});
}

function delete_selected(){
	rr = confirm("Do you want to delete the selected users? All data will be lost for the selected users after this operation");
}


</script>
