<div class="row">

	<div class="col">
		<div class="card-header card-header-blue card-header-border">
			<strong>Users Information</strong>
			<button data-toggle="modal" data-target="#add_package_form" style="width:80px; float:right; margin-right:-16px; margin-top:-8px;" class="btn btn-info">
				<i class="mdi mdi-plus"></i> Add 
			</button>
		</div>
		<div class="card-body" style="padding-top:10px; background:none;">
			<table class="table table-bordered" style="margin:0px; padding:0px;">
				<tr class="text-center"  style="font-weight:bold; background-color:#ae62e8; color:#FFFFFF;">
					<td>Username</td>
					<td>Fullname</td>
					<td>Is Active</td>
					<td>Package</td>
					<td>Gender</td>
					<td>Looking For</td>
					<td>Action</td>
				<tr>
				{% for row in users %}
					<tr style="font-size:12px;  background-color:#FFF">
						<td style="padding:5px">{{ row.user.email }}</td>
						<td style="padding:5px">{{ row.fullname }}</td>
						<td style="padding:5px">{{ row.user.is_active }}</td>
						<td style="padding:5px">{{ row.package.package_name }}</td>
						<td style="padding:5px">{{ row.get_gender_display }}</td>
						<td style="padding:5px">{{ row.get_looking_for_gender_display }}</td>
						<td style="padding:5px">Action</td>
					</tr>
				{% endfor %}
			</table>
		</div>
    </div>
</div>