<div class="row">

	<div class="col">
		<div class="card-header card-header-blue card-header-border">
			<strong>Users Information</strong>			
		</div>
		<div class="card-body" style="padding-top:10px; background:none;">
			<table class="table table-bordered" style="margin:0px; padding:0px;">
				<tr class="text-center"  style="font-weight:bold; background-color:#ae62e8; color:#FFFFFF;">
					<td>Username</td>
					<td>Fullname</td>
					<td>Is Active</td>
					<td>Package</td>
					<td>Gender</td>
					<td>Looking For</td>
					<td>Action</td>
				<tr>
				{% for row in users %}
					<tr style="font-size:12px;  background-color:#FFF">
						<td style="padding:5px; line-height: 22px;">{{ row.user.email }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.fullname }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.user.is_active }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.package.package_name }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.get_gender_display }}</td>
						<td style="padding:5px; line-height: 22px;">{{ row.get_looking_for_gender_display }}</td>
						<td style="padding:5px; text-align:center;">
							<i class="mdi mdi-pencil" style="margin-right:15px; cursor:pointer; font-size:12px;"></i>
							<i class="mdi mdi-delete" onclick="delete_user({{row.user.id}})" style="cursor:pointer; color:#FF0000; font-size:15px;"></i>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
    </div>
</div>


{% include 'app/base/uploader_gif_modals.html' %}

<script>

var csrfmiddlewaretoken = '{{ csrf_token }}';

</script>