{% load static %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-9">
				<div class="card-body">
					<table class="table" style="border:none;">
						<tr>
							<td colspan="2" class="bg-success" style="color:#FFFFFF;">
								<span style="font-weight:bold; display:inline-block; line-height:30px;">Package Name</span>
								<span style="font-size:11px; display:inline-block; float:right; text-align:right;">
									Remaining Duration
									</br>1Year
								</span>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="card-body">
					<table class="table" style="border:none;">						
						<tr>
							<td colspan="4" class="bg-info" style="color:#FFFFFF;">
								My Personal Information
							</td>							
						</tr>
						<tr>
							<td width="150px" style="text-align:right;">
								<strong>Fullname</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.fullname }}
							</td>
							<td width="150px" style="text-align:right;">
								<strong>Gender</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.get_gender_display }}
							</td>							
						</tr>
						<tr>
							<td style="text-align:right;">
								<strong>Looking For</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.get_looking_for_gender_display }}
							</td>
							<td style="text-align:right;">
								<strong>Father's Name</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.father_name|default_if_none:'-' }}
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">
								<strong>Mother's Name</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.mother_name|default_if_none:'-' }}
							</td>
							<td style="text-align:right;">
								<strong>Date Of Birth</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.dob|default_if_none:'-' }}
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">
								<strong>Religion</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.religion|default_if_none:'-' }}
							</td>
							<td style="text-align:right;">
								<strong>Caste/Domination</strong>
							</td>
							<td><strong>:</strong> {{ profile.caste_creed|default_if_none:'-' }}</td>
						</tr>
					</table>
				</div>
				
				<div class="card-body">
					<table class="table" style="border:none;">
						<tr>
							<td colspan="4" class="bg-info" style="color:#FFFFFF;">
								My Physical Attributes
							</td>
						</tr>
						<tr>
							<td width="150px" style="text-align:right;">
								<strong>Fullname</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.fullname|default_if_none:'-' }}
							</td>
							<td style="text-align:right;">
								<strong>Gender</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.get_gender_display|default_if_none:'-' }}
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">
								<strong>Looking For</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.get_looking_for_gender_display|default_if_none:'-' }}
							</td>
							<td style="text-align:right;">
								<strong>Father's Name</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.father_name|default_if_none:'-' }}
							</td>
						</tr>
						<tr>
							<td style="text-align:right;">
								<strong>Mother's Name</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.mother_name|default_if_none:'-' }}
							</td>
							<td style="text-align:right;">
								<strong>Date Of Birth</strong>
							</td>
							<td>
								<strong>:</strong> {{ profile.dob|default_if_none:'-' }}
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-3">
				<div class="card-header card-header-border">
					My Pics
					<button class="btn btn-sm btn-primary" style="float:right; margin-right: -10px; margin-top:-3px"><i class="mdi mdi-plus"></i> Add</button>
				</div>
				<div class="card-body card-body-border" style="max-height:150px;">
					<div class="row" style="padding:10px">
						{% for pics in gallery %}
							<div class="col-4" style="padding:10px">
								<img src="{% get_media_prefix %}{{pics.picture}}" class="img" width="100%" height="auto">
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'app/modal_forms/profile_picture_modal.html' %}