<!-- My Personal Information -->
{% load static %}
<div class="modal" tabindex="-1" role="dialog" id="editProfile_summary_Modal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

			<form method="post" id="editProfile_summary_Modal" action="{% url 'edit_summary_detalis' %}" class="post-form" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title">Update Summary</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body" style="font-size:80%">
					<div class="row" style="margin-top:0px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Descriptions:
						</div>
						<div class="col-10">
							{{edit_form2.descriptions}}
						</div>
          </div>
          <div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px; text-align:right;">
							Bio Data
						</div>
						<div class="col-4">
							{{edit_form2.biodata}}
						</div>
					</div>

            	 </div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" style="width:80px;">Submit</button>
					<button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
				</div>
            </form>
        </div>
    </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="editProfileModal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

			<form method="post" id="edit_profile_form_modal" action="{% url 'edit_personal_info' %}">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title">Update Personal Information</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body" style="font-size:80%">
					<div class="row" style="margin-top:0px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Name
						</div>
						<div class="col-4">
							{{edit_form.fullname}}
						</div>
						<div class="col-2" style="line-height: 35px; text-align:right;">
							Gender
						</div>
						<div class="col-4">
							{{edit_form.gender}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Looking For
						</div>
						<div class="col-4">
							{{edit_form.looking_for_gender}}
						</div>
						<div class="col-2" style="line-height: 35px; text-align:right;">
							Father's Name
						</div>
						<div class="col-4">
							{{edit_form.father_name}}
						</div>
					</div>
					
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Mother's Name
						</div>
						<div class="col-4">
							{{edit_form.mother_name}}
						</div>
					
						<div class="col-2" style="line-height: 35px;">
							Date Of Birth
						</div>
						<div class="col-4">
							{{edit_form.dob}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Religion
						</div>
						<div class="col-4">
							{{edit_form.religion}}
						</div>
						<div class="col-2" style="line-height: 35px;">
							Caste/Domination
						</div>
						<div class="col-4">
							{{edit_form.caste_creed}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Phone/Mobile
						</div>
						<div class="col-4">
							{{edit_form.phone_number}}
						</div>
						<div class="col-2" style="line-height: 35px;">
							Alternative Phone
						</div>
						<div class="col-4">
							{{edit_form.phone_number_alternative}}
						</div>
					</div>
					
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Address
						</div>
						<div class="col-10">
							{{edit_form.address}}
						</div>
					</div>
            	 </div>
				 <div class="col-12" style="margin-top:10px;">
				<label>Country</label>
				</div>
				<div class="col-8">
				{{edit_form.country}}
			</div>
			
			<div class="col-12 state-div-spinner hide text-center" style="margin-top:10px;">
				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
			</div>
			
			<div class="col-12 state-div hide" style="margin-top:10px;">
				<label>State</label>
				
				<div class="col-8">
				<select name="state" class="form-control selectpicker states_select" multiple></select>
			</div>
			</div>

			<div class="col-12 city-div-spinner hide text-center" style="margin-top:10px;">
				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
			</div>

			<div class="col-12 city-div hide" style="margin-top:10px;">
				<label>City</label>
				
				<div class="col-8">
				<select class="form-control selectpicker city_select" name="city" multiple></select>
			</div>
			</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" style="width:80px;">Submit</button>
					<button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
				</div>
            </form>
        </div>
    </div>
</div>
<!-- Other Details -->


<div class="modal" tabindex="-1" role="dialog" id="edit_other_form_modal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

          <form method="post" id="edit_other_ProfileModal" action="{% url 'edit_other_detalis' %}">
    				{% csrf_token %}
    				<div class="modal-header">
    				      <h5 class="modal-title">Update Other Details</h5>
    					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					         <span aria-hidden="true">&times;</span>
    					    </button>
    				</div>

    				<div class="modal-body">
    					<div class="row" style="margin-top:0px; padding-left:10px; padding-right:10px;">
    						<div class="col-4" style="line-height: 35px;">
    							Height
    						</div>
    						<div class="col-8">
    							{{edit_form1.height}}
    						</div>
    					</div>

    					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
    						<div class="col-4" style="line-height: 35px;">
    							Weight
    						</div>
    						<div class="col-8">
    							{{edit_form1.weight}}
    						</div>
    					</div>
    					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
    						<div class="col-4" style="line-height: 35px;">
    							Complexion
    						</div>
    						<div class="col-8">
    							{{edit_form1.complexion}}
    						</div>
    					</div>
    					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
    						<div class="col-4" style="line-height: 35px;">
    							Educational Qual.
    						</div>
    						<div class="col-8">
    							{{edit_form1.qualification}}
    						</div>
    					</div>
    					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
    						<div class="col-4" style="line-height: 35px;">
    							Job Details
    						</div>
    						<div class="col-8">
    							{{edit_form1.job_details}}
    						</div>
    					</div>

                	 </div>
    				  <div class="modal-footer">
    					<button type="submit" class="btn btn-primary" style="width:80px;">Submit</button>
    					<button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
    				</div>
            </form>
        </div>
    </div>
</div>


{% comment %} Sibling Details {% endcomment %}

<div class="modal" tabindex="1" role="dialog" id="edit_family_form_modal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <form method="post" id="edit_family_form_modal" action="{% url 'edit_family_detalis' %}">
    				{% csrf_token %}
    				<div class="modal-header">
    				      <h5 class="modal-title">Update Family Details</h5>
    					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					         <span aria-hidden="true">&times;</span>
    					    </button>
    				</div>

    				<div class="modal-body">
    					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Total Siblings 
						</div>
						<div class="col-4">
							{{family_form.siblings}}
						</div>
						<div class="col-2" style="line-height: 35px;">
						   Total Sibling Male 
						</div>
						<div class="col-4">
							{{family_form.sibling_male}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
						   Total Sibling Female 
						</div>
						<div class="col-4">
							{{family_form.sibling_female}}
						</div>
						<div class="col-2" style="line-height: 35px;">
						   Total Sibling Elder 
						</div>
						<div class="col-4">
							{{family_form.sibling_elder}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Total Sibling Younger 
						</div>
						<div class="col-4">
							{{family_form.sibling_younger}}
						</div>
						<div class="col-2" style="line-height: 35px;">
							Total Sibling Married 
						</div>
						<div class="col-4">
							{{family_form.sibling_married}}
						</div>
					</div>
					<div class="row" style="margin-top:10px; padding-left:10px; padding-right:10px;">
						<div class="col-2" style="line-height: 35px;">
							Father Occupation
						</div>
						<div class="col-4">
							{{family_form.father_job}}
						</div>
						<div class="col-2" style="line-height: 35px;">
							Mother Occupation
						</div>
						<div class="col-4">
							{{family_form.mother_job}}
						</div>
					</div>

                	 </div>
    				  <div class="modal-footer">
    					<button type="submit" class="btn btn-primary" style="width:80px;">Submit</button>
    					<button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
    				</div>
            </form>
        </div>
    </div>
</div>
