{% load static %}
<div class="modal" tabindex="-1" role="dialog" id="forgot_password_modal" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <form id="forgot_password_form" method="post" action="{% url 'send_forgot_password_mail' %}">
            <div class="modal-header" style="background-color:#2ca0f1; color:#FFFFFF;">
    					<h5 class="modal-title" style="display:inline">Forgot Password</h5>
    					<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:4px;">
    					       <span aria-hidden="true">&times;</span>
    					</button>
    				</div>
            {% csrf_token %}
    				<div class="modal-body" style="font-size:100%">
              <div class="col-12">
                <div class="col-4">
                    Please enter your Email/Username
                </div>
                <div class="col-8">
                    <input type="email" name="username" required class="form-control">
                </div>
                <div style="margin-top:20px;">
                  <strong>NOTE :</strong> A link will be sent to your registered email for password reset.
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button class="btn btn-success">Submit</button>
              <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
    </div>
</div>
