{% load static %}

<div class="modal" tabindex="-1" role="dialog" id="edit_partner_preferences_form" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form method="post" id="save_partner_preferences_form" action="{% url 'save_partner_preferences' %}">
        <div class="modal-header">
          <h5 class="modal-title">Add/Edit Partner Preferences</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="row" style="margin-top:0px; padding-left:10px; padding-right:10px;">
      			<div class="col-4" style="margin-top:10px;">
      				<label>Country</label>
      				{{partner_preference.l_countries}}
      			</div>

      			<div class="col-4 state-div" style="margin-top:10px;">
      				<label>State</label>
      				{{partner_preference.l_states}}
      			</div>

      			<div class="col-4 city-div" style="margin-top:10px;">
      				<label>City</label>
              {{partner_preference.l_cities}}
      			</div>
        </div>
        <div class="row" style="margin-top:20px; padding-left:10px; padding-right:10px;">
      		<div class="col-4">
    				<label>Select Age</label>
    				{{partner_preference.aged_from}}
    				{{partner_preference.aged_to}}
    				<div id="pref_age_slider" style="width:97%; margin-top:35px;"></div>
    			</div>
          <div class="col-4" style="margin-top:10px;">
            <label>Religion</label>
            {{partner_preference.l_religions}}
          </div>

          <div class="col-4 state-div" style="margin-top:10px;">
            <label>Caste</label>
            {{partner_preference.l_caste}}
          </div>
          </div>
          <div class="row" style="margin-top:20px; padding-left:10px; padding-right:10px;">
            <div class="col-4" style="margin-top:10px;">
              <label>Height</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">cms</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup">
              </div>
            </div>
            <div class="col-4" style="margin-top:10px;">
              <label>Weight</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">kgs</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup">
              </div>
            </div>
      			<div class="col-4" style="margin-top:10px;">
      				<label>Complexion</label>
      				{{partner_preference.l_complexions}}
      			</div>
          </div>
          <div class="row" style="margin-top:20px; padding-left:10px; padding-right:10px;">
            <div class="col-4" style="margin-top:10px;">
      				<label>Job Type</label>
      				{{partner_preference.job_type}}
      			</div>
      			<div class="col-4" style="margin-top:10px;">
      				<label>Job</label>
      				{{partner_preference.l_jobs}}
      			</div>
      			<div class="col-4" style="margin-top:10px;">
      				<label>Qualification</label>
      				{{partner_preference.l_qualifications}}
      			</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="save_partner_preferences()"  class="btn btn-primary" style="width:80px;">Submit</button>
          <button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
