{% load static %}

<div class="modal" tabindex="-1" role="dialog" id="edit_partner_preferences_form" style="background-color:#464e4ec2;" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" id="save_partner_preferences_form" action="{% url 'save_partner_preferences' %}">
        <div class="modal-header">
          <h5 class="modal-title">Add/Edit Partner Preferences</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <div class="row" style="margin-top:0px; padding-left:10px; padding-right:10px;">
            <div class="col-12" style="margin-top:10px;">
      				<label>Religion</label>
      				{{partner_preference.l_religions}}
      			</div>

      			<div class="col-12 caste-div-spinner hide text-center" style="margin-top:10px;">
      				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
      			</div>

      			<div class="col-12 caste-div hide" style="margin-top:10px;">
      				<label>Caste/Denomination/Ethinicity</label>
              {{partner_preference.l_caste}}
      			</div>

      			<div class="col-12" style="margin-top:10px;">
      				<label>Country</label>
      				{{partner_preference.l_countries}}
      			</div>

      			<div class="col-12 state-div-spinner hide text-center" style="margin-top:10px;">
      				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
      			</div>

      			<div class="col-12 state-div hide" style="margin-top:10px;">
      				<label>State</label>
      				{{partner_preference.l_states}}
      			</div>

      			<div class="col-12 city-div-spinner hide text-center" style="margin-top:10px;">
      				<img class="img" src="{% static 'images/uploader_gifs/Spin-1s-24px.svg' %}">
      			</div>

      			<div class="col-12 city-div hide" style="margin-top:10px;">
      				<label>City</label>
              {{partner_preference.l_cities}}
      			</div>

      			<div class="col-12" style="margin-top:10px;margin-bottom:10px;">
      				<label>Select Age</label>
      				{{partner_preference.aged_from}}
      				{{partner_preference.aged_to}}
      			</div>
            <div class="col-12" style="margin-top:35px;">
      				<div id="pref_age_slider" style="width:97%"></div>
      			</div>

            <div class="col-12 city-div hide" style="margin-top:10px;">
              <label>Height</label>
              <input type="integer" name="height" min="120" max="250">
            </div>

            <div class="col-12 city-div hide" style="margin-top:10px;">
              <label>Weight</label>
              <select class="form-control selectpicker city_select" name="l_cities" multiple></select>
            </div>

      			<div class="col-12" style="margin-top:20px;">
      				<label>Complexion</label>
      				{{partner_preference.l_complexions}}
      			</div>

            <div class="col-12" style="margin-top:10px;">
      				<label>Job Type</label>
      				{{partner_preference.job_type}}
      			</div>

      			<div class="col-12" style="margin-top:10px;">
      				<label>Job</label>
      				{{partner_preference.l_jobs}}
      			</div>

      			<div class="col-12" style="margin-top:10px;">
      				<label>Qualification</label>
      				{{partner_preference.l_qualifications}}
      			</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="save_partner_preferences()"  class="btn btn-primary" style="width:80px;">Submit</button>
          <button type="button" class="btn btn-warning" style="width:80px;" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
